.pdfviewer{
    width: 70vw;
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 15vw;
    display: none;
    animation: up 0.5s linear forwards;
    overflow: scroll;
    background-color: rgb(107, 107, 107);
}
.pdfviewer img{
    width: 100%;
}
@keyframes up{
    0%{
        top: 20vh;
        opacity: 0;
    }
    100%{
        top: 10vh;
        opacity: 1;
    }
}

.blackPDF{
    position: fixed;
    top: 0;
    height: 100vh;
    width: calc(100vw - calc(100vw - 100%));
    background-color: rgba(0, 0, 0, 0.74);
    display: none;
}
.pdfON{
    display: block;
}

@media screen and (max-device-width: 800px) and (orientation: portrait)
{
    .pdfviewer{
        height: fit-content;
    }
}
